.big-navbar {
    min-height: 100px;
}

.search-history-button {
    margin-bottom: 20px;
}

.five-day-box {
    background-color: darkblue;
    color: white;
    height: 260px;
    padding: 20px;
}

.weather-image {
    margin-bottom: 1.5rem;
}

.five-day-text {
    color: white;
}